* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #F55A5A;
    height: 60px;
}

header>span {
    font-size: 1rem;
    font-weight: 500;
}

header>.globe-logo {
    width: 24px;
    margin-right: 8px;
    color: white;
}